.table-cell {
    min-width: "%50";
    position: sticky;
    top: 0;
    background-Color: #75df1f;
    z-index: 1;
    color: black;
    font-size: 14px;
}

.table-row-cell {
    background-color: rgb(250, 255, 118);
    border-radius: 10px;
}